@model IEnumerable<Movie_Mania_2.Models.User>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Lista de Usuarios</h2>

    <button type="button" class="btn btn-success azul-3 float-right mb-3" onclick="location.href='@Url.Action("Create", "Users")'">Crear Usuario</button>
    <table class="table">
        <thead class="thead-primary ">
            <tr class="table-primary ">
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipo_Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo_Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>

                        @Html.ActionLink("Detalles", "Details", new { id = item.Id })

                        @if ((String)Session["User_Type"] == "Admin")
                        {
                            @Html.ActionLink("Editar ", "Edit", new { id = item.Id })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                        }



                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

